<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <title>{% block title %} {% endblock title %}</title>
    
    <!-- Include base CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/base.min.css">

    <!-- Include web fonts -->
    <link href='http://fonts.googleapis.com/css?family=PT+Sans|PT+Serif' rel='stylesheet' type='text/css'>
    
    {% endblock head %}
</head>
<body>
    {% block body %}
    {% endblock body%}
</body>

{% block script %}
<!-- Include JS -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
{% endblock script %}
</html>
